.Home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .Home .Post {
        width: 600px;
        
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

        .Home .Post .Image {
            flex: 70%;
            object-fit: contain;
        }

            .Home .Post .Image img {
                width: 100%;
                height: 100%;
            }

        .Home .Post .Content {
            flex: 30%;
            display: flex;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

            .Home .Post .Content .title {
                flex: 30%;
                text-align: center;
                font-size: 20px;
            }

            .Home .Post .Content .description {
                flex: 50%;
                text-align: center;
            }

        .Home .Post .Engagement {
            flex: 20%;
            display: grid;
            place-items: center;
        }

            .Home .Post .Engagement #likeButton {
                font-size: 40px;
                color: grey;
            }

                .Home .Post .Engagement #likeButton:hover {
                    cursor: pointer;
                }

                .Home .Post .Engagement #likeButton:active {
                    color: black;
                }
