.Navbar {
    width: 100%;
    height: 80px;
    background-color: #4e2bff;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.Navbar a {
    font-size: 23px;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Navbar a:hover {
    cursor: pointer;
}
    .Navbar button {
        font-size: 23px;
        margin: 10px;
        color: white;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        left:2%;
    }